<%= link_to "back to thread list", boards_path %>
<hr>
<h1><%= @board.title %></h1>
<%= link_to "Edit title", edit_board_path %> <br>
<%= link_to "Delete", board_path(@board), method: :delete, data: { confirm: "Delete this thread?" } %>
<hr>
